* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
}
a {
  text-decoration: none;
}
button {
  font-family: var(--primary-font);
}
:root {
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Lato", sans-serif;
  --header-bg: #e6f0ff;
  --primary-color: #0f1b4c;
  --feature-bg: #f5fafe;
}
.container {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.btn {
  --height: 50px;
  padding: 0 20px;
  display: inline-block;
  border-radius: 12px;
  background: var(--primary-color);
  height: var(--height);
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: var(--height);
  cursor: pointer;
  border: 1px solid var(--primary-color);
}
.btn:hover {
  opacity: 0.9;
}
.heading {
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 100%;
}
.heading-big {
  color: #000336;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 118.75%;
}
.desc {
  color: #5a6473;
  font-weight: 400;
  line-height: 187.5%;
}
.text-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
/* Header */
.header {
  background-color: var(--header-bg);
  padding-top: 26px;
  position: sticky;
  top: -26px;
  z-index: 1;
}
.header-container {
  padding: 12px 0;
  display: flex;
  align-items: center;
}
.navbar {
  margin-left: 50px;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-item {
  padding: 0 14px;
}
.header-link {
  color: #4f5361;
  font-size: 1.4rem;
  font-weight: 500;
  display: block;
}
.header-link.active,
.header-link:hover {
  font-weight: 700;
}
.header-link::before {
  content: attr(title);
  display: block;
  font-weight: 700;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.auth {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 18px;
}
.sign-in-btn {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
}
.sign-up-btn {
  --height: 40px;
  font-size: 1.4rem;
  min-width: 98px;
}
/* Hero */
.hero {
  padding-top: 27px;
  background-color: var(--header-bg);
  min-height: calc(100vh - 90px);
  position: relative;
}
.hero-container {
  display: flex;
  min-height: calc(100vh - 117px);
  align-items: center;
}
.hero-content {
  width: 50.3%;
}
.hero-sub-heading {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.18px;
}
.hero-heading {
  margin-top: 8px;
}
.hero-desc {
  margin-top: 30px;
  font-size: 1.8rem;
  line-height: 177.778%;
}
.hero-btn {
  margin-top: 40px;
  min-width: 170px;
}
.hero-media {
  width: 52.6%;
}
.hero-img {
  position: absolute;
  bottom: 0;
  right: calc((100vw - 1110px) / 2 - 100px);
}
/* Clients */
.clients {
  margin-top: 79px;
}
.clients-container {
  padding: 43px 0 41px;
}
.clients-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients-text {
  display: flex;
  flex-direction: column;
  gap: 23px 0;
}
.clients-desc {
  color: #7d8589;
  font-weight: 500;
  line-height: 125%;
}
.clients-rate {
  display: flex;
  flex-direction: column;
  gap: 16.15px 0;
}
.clients-stars {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0 3.62px;
}
.partners {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partner {
  padding: 32px 42px 23px;
  border-radius: 12px;
}
.partner:hover {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
}
/* Guides */
.guides {
  margin-top: 40px;
}
.guides-container {
  max-width: 685px;
  padding: 93px 0 79px;
  text-align: center;
}
.guides-heading {
  position: relative;
}
.guides-heading::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}
.guides-desc {
  max-width: 459px;
  margin: 20px auto 0;
}
.guides-list {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 140px;
}
.guides-item-heading {
  color: #3b3c45;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 110%;
  margin-top: 26px;
}
.guides-cta {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 8px;
}
.guides-cta span {
  color: #0689ff;
  font-size: 1.4rem;
  font-weight: 600;
}
.guides-btn {
  margin-top: 48px;
  min-width: 170px;
}
/* Feature */
.feature {
  margin-top: 41px;
  background-color: var(--feature-bg);
}
.feature-container {
  padding: 110px 0;
}
.feature-text {
  display: flex;
  justify-content: space-between;
}
.feature-text span {
  margin-top: 15px;
}
.feature-cta {
  margin-top: 20px;
  color: #0689ff;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 8px;
}
.feature-cta span {
  margin-top: 0;
}
.feature-list {
  margin-top: 68px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 30px;
}
.feature-item {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
  cursor: pointer;
}
.feature-item:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.feature-img {
  width: 350px;
  height: 227px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}
.feature-content {
  padding: 17px 38px 22px 20px;
}
.feature-item-heading {
  color: #000339;
  font-size: 2rem;
  font-weight: 600;
  line-height: 100%;
}
.feature-desc {
  color: #a3a6ab;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 11px;
  display: inline-block;
}
.feature-infos {
  margin-top: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 22px;
}
.feature-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 8px;
}
.feature-info span {
  color: #4d4d52;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.14px;
}
/* Resources */
.resources {
  margin-top: 75px;
}
.resources-container {
  padding: 50px 0;
  max-width: 1017px;
}
.resources-top {
  display: flex;
}
.resource-media {
  width: 50%;
  position: relative;
}
.resources-img {
  width: 400px;
  height: 460px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 40px 80px 155px 0px rgba(30, 103, 113, 0.03);
  display: block;
  margin-left: auto;
}
.resources-stat {
  padding: 45px 23px 41px 21px;
  max-width: 239px;
  border-radius: 0px 0px 12px 12px;
  background: #fff;
  box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
  position: absolute;
  top: 0;
  left: 0;
}
.resources-sub-title {
  color: #000339;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resources-text {
  margin-top: 8px;
  color: #a7a7a7;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 150%;
}
.separate {
  margin-top: 25.51px;
  background: #e9e9e9;
  width: 100%;
  height: 1.2px;
}
.user-icons {
  margin-top: 25.79px;
  display: flex;
  align-items: center;
  gap: 16.34px 13.92px;
  flex-wrap: wrap;
}
.user-group img:not(:first-of-type) {
  margin-left: -6.03px;
}
.user-group img {
  width: 16.337px;
  height: 16.337px;
  border-radius: 100rem;
}
.resources-content {
  width: 50%;
  padding: 79px 23px 0 165px;
}
.resources-heading {
  line-height: 128.571%;
  position: relative;
}
.resources-heading::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
}
.resources-desc {
  margin-top: 20px;
}
.resources-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 220px;
  margin-top: 110px;
}
.resources-quantity {
  display: flex;
  flex-direction: column;
  gap: 22px 0;
}
.resources-quantity strong {
  color: #000;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 100%;
}
.resources-quantity span {
  color: #7b8087;
  font-size: 1.8rem;
  font-weight: 500;
}
/* Contact */
.contact {
  margin-top: 90px;
}
.contact-container {
  padding: 110px 529px 110px 80px;
  border-radius: 20px;
  background: #063183;
  position: relative;
}
.contact-heading {
  color: #fff;
}
.contact-desc {
  margin-top: 15px;
  color: #fff;
}
.contact-btn {
  margin-top: 20px;
  max-width: 151px;
  background: #fff;
  color: #002366;
}
.contact-img {
  position: absolute;
  bottom: 0;
  right: 221px;
}
/* Footer */
.footer {
  margin-top: 55px;
}
.footer-container {
  padding: 50px 0 58px;
}
.footer-list {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 3.6fr;
  grid-gap: 0 185px;
}
.footer-column {
  display: flex;
  flex-direction: column;
  gap: 42px 0;
}
.footer-column:last-child {
  gap: 40px 0;
}
.footer-heading {
  color: #1c1c1d;
  font-family: var(--secondary-font);
  font-size: 2rem;
  font-weight: 700;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 21px 0;
}
.footer-link {
  color: #7a7a7e;
  font-weight: 400;
}
.footer-desc {
  color: #7a7a7e;
  font-weight: 400;
  line-height: 175%;
}
.socials {
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.social:hover {
  opacity: 0.7;
}
.footer-end {
  margin-top: 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright {
  color: #c2c2c2;
  font-size: 1.4rem;
  font-weight: 400;
}
